@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    background-color: #241313;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #6d0e0e;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 8px solid rgba(24, 13, 13, 0.75);
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    font-size: x-large;
}

header img {
    border-radius: 5%;
    max-width: 250px;
    box-shadow: #4936b2;
    border-style:inset;

}

#menu li{
    border: 2px solid;
    border-radius: 15%;
    border-color: #241313;
    transition-property: background-color;
    transition-duration: 2s;
  }
  #menu li:hover {
    background-color: #6d0e0e;
  }

.hero {
    position: relative;
    width: 100%;
}
  
  
.hero img {
   width: 100%;
   height: auto;
}
  
.overlay { 
    position: absolute;
    top: 550px; 
    left: 300px; 
    transform: translate(-50%, -50%); 
    background: radial-gradient(#4936b2, #4053a6);
    border: 1px solid rgba(154, 154, 169, 0.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    max-width: 80%; 
}

.overlay p {
	margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
    color: #fff; 
}


nav {
    background-color: #241313;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    color: #a51919;
    margin-bottom: 20px;
    padding: 10px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: xx-large;
    text-align: center;
}

section ul {
    list-style-type: none;
}

.card a  {
    width: 100px;
    height: 100px;
    transition-property: width, height, font-size;
    transition-duration: 2s, 3s, 4s;
  }
  .card a:hover {
    width: 400px;
    height: 400px;
    color: #6d0e0e;
    font-size: x-large;
  }

#hamburger {
    display: none; 
    font-size: 24px;
    cursor: pointer;
}


footer {
    background-color: #6d0e0e;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
}

footer img {
    max-width: 50px;
}



@media screen and (max-width: 900px) {
    #hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s; 
    }
    #hamburger.open #indicator::after {
        content: '✖'; 
    }
    


    #indicator::before {
        content: ''; 
        display: inline-block;
        margin-right: 5px;
        transition: transform 0.3s;
    }

    #hamburger.open #indicator::before {
        transform: rotate(90deg);
    }

    #menu {
        display: none;
    }

    #menu.show {
        display: block;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
    #wayfinding-line {
        height: 2px;
        width: 30px; 
        background-color: #fff; 
        margin-top: 5px; 
        transition: opacity 0.3s;
        opacity: 0; 
    }
    
    #hamburger.open + #wayfinding-line {
        opacity: 1; 
    }
    
    header h2 {
        text-align: justify;
    }

    main {
        display: block;
        height: auto;
    }

    .overlay  {
        top: 135%; 
        width: 40rem;
        
      }
    

    nav,
    footer {
        flex-direction: column;
    }

    #background {
        display: none;
    }

    footer {
        margin-top: 25px;
        text-align: justify;
    }
    iframe {
        width: 100%;
        height: 300px; 
    }
}