@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body,
ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    background-color: #241313;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #6d0e0e;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 8px solid rgba(24, 13, 13, 0.75);
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    font-size: x-large;
}

header img {
    border-radius: 5%;
    max-width: 250px;
    box-shadow: #4936b2;
    border-style:inset;

}

#menu li{
    border: 2px solid;
    border-radius: 15%;
    border-color: #241313;
    transition-property: background-color;
    transition-duration: 2s;
    font-size: large;
    color: #fff;
  }
  #menu li:hover {
    background-color: #6d0e0e;
  }

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
    
}
nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

main {
    margin: 2rem auto;
    max-width: 600px;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


input[type="range"] {
    width: calc(100% - 2.5rem); 
}


.wf2 input:required{
    border-left: solid 8px red;
}
.wf2 input:required:valid{
    border-left: solid 8px green;
}

output {
    display: inline-block;
    width: 2.5rem;
    text-align: center;
}

#hamburger {
    display: none; 
    font-size: 24px;
    cursor: pointer;
}

.confirmation-message {
    font-size: 24px; 
    text-align: center;
    margin-top: 50px; 
}

footer {
    background-color: #6d0e0e;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
}

footer img {
    max-width: 400px;
}

@media screen and (max-width: 900px) {
    #hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s; 
    }
    #hamburger.open #indicator::after {
        content: '✖'; 
    }
    


    #indicator::before {
        content: ''; 
        display: inline-block;
        margin-right: 5px;
        transition: transform 0.3s;
    }

    #hamburger.open #indicator::before {
        transform: rotate(90deg);
    }

    #menu {
        display: none;
    }

    #menu.show {
        display: block;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
    #wayfinding-line {
        height: 2px;
        width: 30px; 
        background-color: #fff; 
        margin-top: 5px; 
        transition: opacity 0.3s;
        opacity: 0; 
    }
    
    #hamburger.open + #wayfinding-line {
        opacity: 1; 
    }
}